{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="content">
    <h1>Cette page <span class="red">n'existe pas.</span></h1>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p>
            <a href="{{ path('cellar_index') }}">Retour à mes caves</a>.
        </p>
    {% else %}
        <p>
            <a href="{{ path('homepage') }}">Retour à l'accueil</a>.
        </p>
    {% endif %}
</div>
{% endblock %}

